In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv("spam.csv", encoding="latin-1")

In [3]:
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [4]:
data.columns

Index(['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [5]:
data.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis=1, inplace=True)

In [6]:
data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [8]:
data.rename(columns={'v1':'class','v2':'message'},inplace=True)
data.sample(5)

     class                                            message
5521   ham                You are a big chic. Common. Declare
5227   ham  I re-met alex nichols from middle school and i...
2398   ham                           YO YO YO BYATCH WHASSUP?
4987   ham                          Which channel:-):-):):-).
1227   ham        So Ì_'ll be submitting da project tmr rite?

In [10]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
data['class'] = encoder.fit_transform(data['class'])
data.head()

   class                                            message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [17]:
data.isnull().sum()

class      0
message    0
dtype: int64

In [18]:
data.duplicated().sum()

403

In [19]:
# remove duplicates
data = data.drop_duplicates(keep='first')

In [20]:
data.duplicated().sum()

0

In [22]:
data.shape

(5169, 2)

In [27]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split

In [28]:
X=data['message']
y=data['class']

In [29]:
X.shape

(5169,)

In [30]:
y.shape

(5169,)

In [31]:
cv=CountVectorizer()

In [32]:
X=cv.fit_transform(X)

In [46]:
X

<5169x8672 sparse matrix of type '<class 'numpy.int64'>'
	with 68018 stored elements in Compressed Sparse Row format>

In [33]:
x_train, x_test,y_train, y_test=train_test_split(X,y, test_size=0.2, random_state=42)

In [34]:
x_train.shape

(4135, 8672)

In [35]:
x_test.shape

(1034, 8672)

In [36]:
from sklearn.naive_bayes import MultinomialNB

In [37]:
model=MultinomialNB()

In [38]:
model.fit(x_train, y_train)

MultinomialNB()

In [48]:
result= model.score(x_test, y_test)

In [49]:
result=result*100

In [50]:
result

98.25918762088975

In [51]:
import pickle

In [52]:
pickle.dump(model, open("spam.pkl","wb"))

In [53]:
pickle.dump(cv, open("vectorizer.pkl","wb"))

In [54]:
clf=pickle.load(open("spam.pkl","rb"))

In [55]:
clf

MultinomialNB()

In [57]:
msg="hello there"
data = [msg]
vect = cv.transform(data).toarray()
result= model.predict(vect)
print(result)

[0]